.details{
    border:2px solid #483D8B;
    border-radius: 5px;
    margin: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.details .btn{
    margin: 2px;
}

.class-title{
    background-color: #483D8B;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:2px;
    margin-right: 2px;
    text-align: center;
    color: #fff;
}

.class-year, .class-overview{
    font-size: 13px;
}
.btn-rating{
    border-radius: 50%;
    
}
.class-img{
    border:2px solid #483D8B;
    border-radius: 5px;
    margin-left: 3px;
    height:200px;
    padding-right: 0px; 
    padding-left: 0px;
}

/*------------loader css------------*/
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
.sidemenu-icon{
    visibility: hidden;
}

.sideclose-btn{
    visibility: hidden;
}
/*-------------loader css end-----------*/
/*-------------sidebar-----------*/
@media (max-width: 767px) {
    .sidemenu-icon{
        font-size:30px;
        cursor:pointer;
    }
    .sidemenu-icon{
        visibility: visible;
    }
    #sideclose-btn{
        visibility: visible;
        font-size:50px;
    }
    .sidemenu-icon{
        color: #fff;
    }
.sidenav {
    
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #483D8B;
     overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px;
  }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .details{
    padding-top: 0px;
   
}
.class-img{
    margin-left: 0px;
 
}
.class-col3{
    display:inline-block;
}
.btn-rating{
    width: 90px;
    float: right;
}
.mybtn{
    width: 100px;
}
  
 
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*-------------sidebar end-----------*/